################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/collabGithub/packages
/collabGithub/.vs
/collabGithub/collabGithub/bin
/collabGithub/collabGithub/obj/Debug
